## Install Node LTS 20.10.0 https://nodejs.org/en
## Install Hardhat: npm install --save-dev hardhat
##          I used the Hardhat extention for VSCode
## Inherit Functions from open zeppelin : npm install @openzeppelin/contracts

  